*.db
*.log
*.pyc
*.sqlite3
.idea/
venv/

#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db

database

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
