option_settings:
  aws:elb:listener:8001:
    ListenerProtocol: HTTP
    InstanceProtocol: HTTP
    InstancePort: 8001

Resources:
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      AvailabilityZones: { "Fn::GetAZs" : "ap-northeast-2" }
      Listeners:
        - {LoadBalancerPort: 8001, InstanceProtocol: "TCP", InstancePort: 8001, Protocol: "TCP"}
      HealthCheck:
        HealthyThreshold: "3"
        Interval: "30"
        Target: "HTTP:8001/"
        Timeout: "5"
        UnhealthyThreshold: "5"
  securityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 8001
      FromPort: 8001
      SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer" , "SourceSecurityGroup.GroupName"]}

