Resources:
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      AvailabilityZones: { "Fn::GetAZs" : "ap-northeast-2" }
      Listeners:
        - {LoadBalancerPort: 443, Protocol: "HTTPS", InstancePort: 8001, InstanceProtocol: "HTTP", "SSLCertificateId": "arn:aws:iam::032944705870:server-certificate/meetluna"}
      HealthCheck:
        HealthyThreshold: "3"
        Interval: "30"
        Target: "HTTP:8001/"
        Timeout: "5"
        UnhealthyThreshold: "5"
  securityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 8001
      FromPort: 8001
      SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer" , "SourceSecurityGroup.GroupName"]}

